#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#header-title {
  position: absolute;
  width: 300px;
  height: 80px;
  left: 30px;
  top: 20px;
}

#header-title svg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}
