<div class="movie-card">

  @if (isTop10) {
    <div class="top-tag">
      <span class="top-label">TOP</span>
      <span class="top-number">{{ rank }}</span>
    </div>
  }

  <div class="card-content">
    <h2 class="movie-title">{{ title }}</h2>

    <p class="movie-description">
      {{ description }}
    </p>

    <div class="movie-info">
      <div class="d-flex align-items-center gap-3 flex-wrap">
        <span class="meta-item">
            <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <circle cx="12" cy="12" r="10"></circle>
                <polyline points="12 6 12 12 16 14"></polyline>
            </svg>
          {{ duration }}
        </span>

        <span class="meta-item age-box">
            {{ ageRating }}
        </span>

        <div class="meta-item rating" [ngClass]="isGoodRating ? 'rating-good' : 'rating-bad'">
          <svg width="14" height="14" viewBox="0 0 24 24" fill="currentColor">
            @if (isGoodRating) {
              <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
            } @else {
              <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/>
            }
          </svg>
          <span>{{ approvalRating }}% Aprovação</span>
        </div>
      </div>

      @if (provider) {
        <div class="provider mt-3">
          <button class="provider-btn">
            {{ provider }}
          </button>
        </div>
      }

    </div>
  </div>
</div>
