.movie-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  background: linear-gradient(to bottom, #2a2a2a, #141414);
  border-radius: 8px;
  padding: 24px;
  color: white;
  max-width: 400px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  transition: transform 0.2s;
  overflow: hidden;
}

.movie-card:hover {
  transform: scale(1.02);
}


.top-tag {
  position: absolute;
  top: 0;
  right: 20px;
  background-color: #E50914;
  color: white;
  width: 35px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  z-index: 10;
}

.top-label {
  font-size: 0.6rem;
  font-weight: bold;
  line-height: 1;
}

.top-number {
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 1;
}


.movie-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 5px;
  line-height: 1.1;
}

.movie-description {
  font-size: 0.95rem;
  color: #b3b3b3;
  line-height: 1.4;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  flex-grow: 1;
}


.meta-item {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #e5e5e5;
  font-size: 0.9rem;
}

.age-box {
  border: 1px solid #777;
  padding: 1px 6px;
  border-radius: 4px;
  font-size: 0.8rem;
}


.rating-good {
  color: #46d369;
}

.rating-bad {
  color: #E50914;
}

.provider {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
}

.provider-btn {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

.provider-btn:hover {
  background-color: #555;
}
