#sign-page{
  position: relative;
  height: 100vh;
  width: 100vw;
}

#sign-page::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/netflix.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}

#login-container{
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
